@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
* {
  font-family: poppins;
}

html {
  color: var(--text-0);
  font-size: 13px;
}
body {
  background-color: var(--ground-0);
}
:root {
  --primary: #ed2657;
  --ground-0: #101010;
  --ground-1: #1b1b1b;
  --ground-2: #292929;
  --text-0: rgb(225, 225, 235);
}

.font-fancy {
  font-family: "Brush Script MT";
}

.splash {
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgb(0, 0, 0)),
    url("./assets/muto2.JPG");
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

.bg-format {
  background-position: center;
  background-size: cover;
  background-color: red;
}

@theme {
  --color-primary: var(--primary);
  --color-ground-0: var(--ground-0);
  --color-ground-1: var(--ground-1);
  --color-ground-2: var(--ground-2);
  --color-text-0: var(--text-0);
}
